* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $darkgray;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

// h1, h2, h3, h4, h5, p, b
h1 {
  font-size: 72px;
  line-height: 1.15;
  font-weight: 700;
  color: $black;
}

h2 {
  font-size: 54px;
  line-height: 1.5;
  font-weight: 700;
  color: $black;
}

h3 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 600;
  color: $black;
}

h4 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  color: $black;
}

h1, h2, h3, h4 {
  &:last-child {
    margin-bottom: 0;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: inherit;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $black;
  text-decoration: none;

  transition: 0.1s ease;

  &:hover {
    color: $blackHover;
  }

  &.link-with-arrow {
    display: flex;
    align-items: center;

    font-weight: 600;

    &::before {
      content: '';
      display: block;

      width: 14px;
      height: 14px;

      margin-right: 10px;

      background-color: $black;

      mask-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_9)'%3E%3Cpath d='M9 11L13 7M13 7L9 3M13 7L1 7' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_9'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-4.37114e-08 -1 -1 4.37114e-08 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      mask-size: contain;
      mask-position: left;
      mask-repeat: no-repeat;

      transition: 0.1s ease background-color;
    }

    &:hover {
      &::before {
        background: $blackHover;
      }
    }

    &.arrow-down {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}


// button
.btn {
  display: flex;
  align-items: center;

  padding: 0 20px 0 15px;
  height: 50px;

  font-size: 14px;
  font-weight: 500;

  border-color: transparent;
  border-radius: 0;

  &::before {
    content: '';
    display: block;

    width: 14px;
    height: 14px;

    margin-right: 10px;

    background: $white;

    mask-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_9)'%3E%3Cpath d='M9 11L13 7M13 7L9 3M13 7L1 7' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_9'%3E%3Crect width='14' height='14' fill='white' transform='matrix(-4.37114e-08 -1 -1 4.37114e-08 14 14)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    mask-size: contain;
    mask-position: left;
    mask-repeat: no-repeat;

    transition: 0.2s ease;
  }
}

.btn-primary {
  border-color: $black;
  background: $black;

  &:hover {
    background: $blackHover;
    border-color: $blackHover;
  }
}


// custom titles
.title-with-icon {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 5px;
    background: rgba($blue, 0.15);

    img, svg {
      width: 18px;
      height: 18px;
    }
  }

  .title {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  // h1, h2, h3, h4, h5, p, b
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    font-size: 14px;
  }

  // h1, h2, h3, h4, h5, p, b
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}