.contacts-block {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .block-icon {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background: rgba($black, 0.05);
  }

  .block-title {
    margin-left: 15px;

    a {
      font-weight: 500;
    }
  }
}