.step-block {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;

    top: 32px;
    left: 0;

    width: 100%;
    height: 1px;

    background: $lightgray;
  }

  &.first-child {
    &::before {
      left: auto;
      right: 0;

      width: 50%;
    }
  }

  &.last-child {
    &::before {
      left: 0;
      width: 50%;
    }
  }

  .block-number {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;

    border: 1px solid $lightgray;
    background: $white;

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: $black;
  }

  .block-title {
    margin-top: 30px;

    font-size: 18px;
    font-weight: 600;
    color: $black;
  }
}


@media screen and (max-width: 767px) {
  .step-block {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;

      top: 0;
      left: 50%;

      width: 1px;
      height: 85px;

      background: $lightgray;
    }

    &.first-child {
      &::before {
        width: 1px;

        left: 50%;
      }
    }

    &.last-child {
      &::before {
        width: 1px;

        left: 50%;
      }
    }
  }
}