section.contacts {
  padding-bottom: 70px;

  .contacts-container {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    padding: 40px;

    .contacts-blocks {
      margin-top: 40px;
    }

    button {
      margin: 70px 0 0;
    }

    .map-block {
      position: relative;

      height: 500px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  section.contacts {
    padding-bottom: 50px;

    .contacts-container {
      padding: 30px;

      .contacts-blocks {
        margin-top: 30px;
      }

      button {
        margin: 50px 0 0;
      }

      .map-block {
        margin-top: 50px;
        height: 300px;
      }
    }
  }
}