section.steps {
  padding: 70px 0 50px;
  text-align: center;

  overflow: hidden;

  h3 {
    max-width: 720px;
    margin: 0 auto;
  }

  p {
    max-width: 640px;
    margin: 30px auto 50px;
    white-space: pre-line;
  }
}